.hero-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2D2F37;
    height: 75px;
    color: white;
    font-family: Copperplate Gothic Light;
}