.testimonials {
    --bg: #f7f7f7;
    --muted: #666;
    --accent: #000;
    padding: 3rem 2rem;
    color: #2d2f37;
}
.testimonals-heading {
    font-weight: 500;
    display: inline-block;
    border-bottom: 2px solid #2d2f37;
    padding-bottom: 0.32rem;
}
.quote {
    font-size: 3rem;
    font-weight: 650;
    color: #2d2f37;
    margin: 0 0 1.5rem 0;
    line-height: 1.2;
    padding: 3rem 7rem;
}


.image-stack img {
    max-width: 130px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.feedback-member-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7rem;
}